# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
*.log
logs/

# Frontend
node_modules/
.npm
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Project Specific
postgres_data/
docker-compose.override.yml
import_log.txt
logs_dump.txt
*.mp4
*.webm
